[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pre-commit = "*"

[packages]
selenium = "*"
sqlalchemy = "*"
pymysql = "*"
pugsql = "*"
python-dotenv = "*"
tqdm = "*"
alembic = "*"
scrapy = "*"
bs4 = "*"

[requires]
python_version = "3.7"
